.login {
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}

.login > img {
  height: 200px;
  user-select: none;
}

.login > a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  background-color: #1db954;
  cursor: pointer;
  user-select: none;
  
}

@media only screen and (max-width: 700px){
    .login > img {
        height: 129px;
        width: 290px;
      user-select: none;
    }

    .login > a {
        color: white;
        text-decoration: none;
        padding: 20px;
        margin-bottom: 256px;
        border-radius: 40px;
        font-weight: 800;
        background-color: #1db954;
        cursor: pointer;
        user-select: none;
        font-size: 12px;
        
      }
}